<nav class="nav">
    <div class="nav__left"> <!-- left section of the navbar -->
        <div class="input-box__text">
            <div class="facebook-logo">
                <img src="/assets/images/facebook.svg" alt="Facebook" width="40" height="40" >
            </div>
            <label for="search-input">
                <input type="text" id="search-input" placeholder="Search Facebook">
            </label></div>
    </div>
    
    <div class="nav__middle"> <!-- icons from  remix icon -->
        <div class="facebook-icons">
            <div class="facebook-icons__icons active"><i class="ri-home-fill"></i></div>
            <div class="facebook-icons__icons"><i class="ri-flag-2-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-movie-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-group-2-line"></i></div>
            <div class="facebook-icons__icons"><i class="ri-microsoft-line"></i></div>
        </div>
    </div>
    
    <div class="nav__right"> <!-- right section  -->
        <div class="facebook-services">
            <div class="user-icon">
               <img src="/assets/images/user-image.jpg" alt="user image" class="img-rounded">
            </div>

            <div class="facebook-service__service"><i class="ri-grid-fill"></i></div>
            <div class="facebook-service__service"><i class="ri-messenger-fill"></i></div>
            <div class="facebook-service__service"><i class="ri-notification-4-fill"></i></div>
            <div class="facebook-service__service"><i class="ri-arrow-down-s-fill"></i></div>
        </div>
    </div>
</nav>