@function rem($value){
    $remValue: $value;
    @if(type-of($value) == number){
        $remValue: ($value /16) + rem;
    }
    @return $remValue;
}

@function random-rgb(){
    @return rgb(random(255),random(255),random(255));
}

$primary-font:Segoe UI Historic, Segoe UI , Helvetica ,Arial, sans-serif;
$primary-background:#ffffff;
$icon-color:#656565;
$icon-background-color:#e4e4e4;
$active-color:#1b75e5; 

$primary-padding:rem(10);
$sidebar-width:rem(360);
$feed-width:rem(680);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-color:#efefef;
    font-family: $primary-font;


    &::before{
        content: '';         // To Make Space Before The Content Start
        display: block;
        height: rem(80);
        
    }
}

.page-content {
    &__right, &__left{
        .wrapper {
            position: sticky;
            top: rem(80);
        }
    }
}

@mixin flex($justify: center, $align: center,$gap:10) {
    display:flex;
    justify-content: $justify;
    align-items: $align;
    gap:rem($gap);
} 
@mixin round-box($size, $bg-color) {
    border: none;
    height: rem($size);
    border-radius: rem($size/2);
    padding:rem($size/2);
    background-color: $bg-color;
}
@mixin img-rounded($size) {
    width: rem($size);
    height: rem($size);
    border-radius: 50%;
    object-fit: cover; // if the image looks compress us it
}
@mixin circle-icon($size) {
    width: rem($size);
    height: rem($size);
    border-radius: 50%;
}

@mixin component-box($margin:unset, $padding:unset, $radius:unset) {
    margin: rem(10) ;
    padding: rem(15);
    border-radius: rem(10);
    box-shadow: 0px 2px 2px #00000020;
}

%content-component {
    @include flex(left,center,5);// placeholder for holding repeat code
    font-size: 1rem;
    font-weight: 500;
    margin:rem(7) 0;
}
.input-box{
    &__text{
        @include flex(space-between,center,10);
        label{width: 100%;}
        input{
            @include round-box(40,#efefef);
            width: inherit;
            font-size: rem(15);
        }

    }

}