
nav , .nav{
    @include flex(space-between,center);
    background-color: #fff;
    padding: $primary-padding;
    box-shadow: 0 3px 8px #0000000d;

    position: fixed;
    top: 0;             //To Make the Nav Fixed Top
    width: 100%;
    z-index: 9999;

    &__left{
        flex:25% 0 0;
       
        max-width: $sidebar-width;
    }
    &__middle{
        flex:50% 0 0;
       
        max-width: $feed-width;
        
    }
    &__right{
        flex:25% 0 0;
       
        max-width: $sidebar-width;
    }

   
  

    .facebook-icons{
        @include flex(space-between,center);
        font-size: 1.8rem;
        color:$icon-color;

        .active{
            color:$active-color;
        }
    }

    
    .facebook-services{
        @include flex(space-around,center);

        .img-rounded{
            @include img-rounded(40);
         }

        
         .facebook-service__service{
             @include circle-icon(40);
             @include flex(center,center);
             background-color: $icon-background-color;
             font-size: 1.4rem;
             
            }
            
            
        }
        
        
        
    }
    
    