
.facebook-shortcuts{
    &__shortcut{
       @extend %content-component;
        padding: rem(10) 0;
    }
    i{
        color:$active-color;
        font-size: 1.4rem;
    }
}


.facebook-favorites{
    &__favorite{
        @extend %content-component;
        padding: rem(5) 0;
    }
    .favorite-image{
      
    img{
       @include img-rounded(40);
    }
  }
}
.separator{
    border-top: 1px solid #ccc;
    padding:$primary-padding;
    margin-top:$primary-padding; 
}

