<div class="wrapper">
    <h4>sponsored</h4>
    
    <div class="facebook-sponsors">
        <div class="facebook-sponsors__sponsor">
            <img src="/assets/images/fb-sponsor-1.jpg" alt="fb-sponsor" class="facebook-sponsors__sponsor--image">
            <div class="facebook-sponsors__sponsor--text">  dolor sit amet, consectetur adipisicing elit. Maxime.</div>
        </div>
        <div class="facebook-sponsors__sponsor">
            <img src="/assets/images/fb-sponsor-2.jpg" alt="fb-sponsor" class="facebook-sponsors__sponsor--image">
            <div class="facebook-sponsors__sponsor--text">  ipsum dolor sit amet, consectetur adipisicing elit. Maxime.</div>
           
        </div>
    </div>

    <hr> <h4 class="seperator">Your Pages</h4> 

    
    <div class="facebook-pages">
        <div class="facebook-pages__page">
            <img src="/assets/images/fb-pages/adobe-illustrator-seeklogo.com.svg" alt="fb-page" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text"> Adobe illustrator</div>
        </div>

        <div class="facebook-pages__page">
            <img src="/assets/images/fb-pages/adobe-indesign-seeklogo.com.svg" alt="fb-page" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">  Adobe Indesign </div>
           
        </div>

        <div class="facebook-pages__page">
            <img src="/assets/images/fb-pages/adobe-photoshop-seeklogo.com.svg" alt="fb-page" class="facebook-pages__page--image">
            <div class="facebook-pages__page--text">  Adobe Photoshop </div>
           
        </div>

        <hr> <h4 class="seperator">Contact</h4> 

        <div class="facebook-contacts">
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/20/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> احمد جمال </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/11/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   ابراهيم العافب </div>
               
            </div> 
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/22/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  محمد يحي  </div>
               
            </div>
            
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/23/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> خالد حسس </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/24/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   عباس عمر </div>
               
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/25/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  مجتبي حسن  </div>
               
            </div>

            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/26/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> ياسين عبدرحمن </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/27/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   عثمان موسي </div>
               
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/28/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  علي عبدالكريم  </div>
               
            </div>


            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/30/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> سامح جمعة </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/31/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   طلال ايهاب </div>
               
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/32/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  حلمي احمد  </div>
               
            </div>

            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/33/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> توفيق جمعة </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/34/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   خليل جابر </div>
               
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/35/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  ضياء خميس  </div>
               
            </div>

            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/36/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text"> طارق جابر </div>
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/37/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">   حسان تمام </div>
               
            </div>
    
            <div class="facebook-contacts__contact">
                <img src="https://picsum.photos/id/38/64/64" alt="fb-page" class="facebook-contacts__page--image">
                <div class="facebook-contacts__page--text">  سليمان خوجلي  </div>
               
            </div>
        
    </div>

</div>