<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcut__text">Friends</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-fill"></i>
            <span class="facebook-shortcut__text">Group</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcut__text">Watch</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcut__text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcut__text">Memories</span>
        </li>
    </ul>



    <h4 class="separator">Your Shortcuts</h4>

    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-image"><img src="/assets/images/shortcut-image-1.jpg" alt=""></div>
            <span class="favorite-text">الاقتراحات</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image"><img src="/assets/images/shortcut-image-2.png" alt=""></div>
            <span class="favorite-text">العاب</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image"><img src="/assets/images/shortcut-image-3.png" alt=""></i></div>
            <span class="favorite-text">عرض المزيد</span>
        </li>
    </ul>
</div>