<div class="wrapper">
    
    <div class="stories">
        <div class="story strory story-1">
            <img src="https://picsum.photos/id/411/64/64" alt="user image" >
            <div class="story__username">Nour Homsi</div>
        </div>
        <div class="story strory story-2">
            <img src="https://picsum.photos/id/412/64/64" alt="user image" >
            <div class="story__username">Tony Michlern</div>
        </div>
        <div class="story strory story-3">
            <img src="https://picsum.photos/id/413/64/64" alt="user image" >
            <div class="story__username">Karim Benzima</div>
        </div>
        <div class="story strory story-4">
            <img src="https://picsum.photos/id/424/64/64" alt="user image" >
            <div class="story__username">Maria Havana</div>
        </div>
        <div class="story strory story-5">
            <img src="https://picsum.photos/id/415/64/64" alt="user image" >
            <div class="story__username">Thomas Mukar</div>
        </div>
        <div class="story strory story-6">
            <img src="https://picsum.photos/id/416/64/64" alt="user image" >
            <div class="story__username">Mansour Salah</div>
        </div>
    </div>

    <div class="creat-post">
        <div class="input-box__text">
            <img src="/assets/images/user-image.jpg" alt="" >
            <label for="create-post">
                <input type="text" id="create-post" placeholder="What's on Your mind, Omer">
            </label>
        </div>
    

        <div class="create-post__buttons">

             <div class="create-post__buttons__button">
                 <i class="ri-video-add-fill"></i>
                 <span>Live video</span>
            </div>
           
            <div class="create-post__buttons__button">
                <i class="ri-image-line"></i>
                <span>Photo/video</span>
           </div>

           <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line"></i>
                <span>Feeling/activity</span>
            </div>
        </div>

    </div>


    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create room</span>
        </div>

        <div class="create-room-images">
            <img src="https://picsum.photos/id/221/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/232/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/225/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/233/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/227/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/228/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/229/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/222/64/64" alt="" class="create-room__image">
            <img src="https://picsum.photos/id/223/64/64" alt="" class="create-room__image">

        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/22/64/64" alt="">
            </div>

            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">عباس عمر </div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>

            <div class="news-feed__header__option">...</div>
        </header>
        
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">sit amet consectetur adipisicing elit. Explicabo, esse. Excepturi perspiciatis ipsum id architecto deleniti. Repellat nisi reiciendis adipisci.</p>
            <img class="news-feed__feed__image" src="/assets/images/post-image.jpg" width="100%" alt="">
        </section>
        
        <footer class="news-feed__footer">
            <div class="news-feed__reactions">
                
                 <img src="/assets/images/wow.svg">
                 <img src="/assets/images/like.svg" >
                 <img src="/assets/images/love.svg" >
                 <div class="reaction-num">125</div>
            </div> 
            <div class="news-feed__comments">19 Comments</div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.jpg" alt="">
                <label for="create-comment">
                    <input type="text"  id="create-comment" placeholder="Comment as Omer?">
                </label>
            </div>
        </div>
    </div>



    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/111/64/64" alt="">
            </div>

            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">احمد جمال </div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="date">3h ago</div>
                </div>
            </div>

            <div class="news-feed__header__option">...</div>
        </header>
        
        <section class="news-feed__feed">
            <p class="news-feed__feed__text"> Keep Pushing To Your Dream !| Repellat nisi reiciendis adipisci.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/124/600/340" width="100%" alt="">
        </section>
        
        <footer class="news-feed__footer">
            <div class="news-feed__reactions">
                
                 <img src="/assets/images/wow.svg">
                 <img src="/assets/images/like.svg" >
                 <img src="/assets/images/love.svg" >
                 <div class="reaction-num">21</div>
            </div> 
            <div class="news-feed__comments">11 Comments</div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.jpg" alt="">
                <label for="create-comment">
                    <input type="text"  id="create-comment" placeholder="Comment as Omer?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/112/64/64" alt="">
            </div>

            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">اسامة زايد </div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="date">4h ago</div>
                </div>
            </div>

            <div class="news-feed__header__option">...</div>
        </header>
        
        <section class="news-feed__feed">
            <p class="news-feed__feed__text"> consectetur adip reiciendis adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, excepturi.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/232/340/340" width="100%" alt="">
        </section>
        
        <footer class="news-feed__footer">
            <div class="news-feed__reactions">
                
                 <img src="/assets/images/wow.svg">
                 <img src="/assets/images/like.svg" >
                 <img src="/assets/images/love.svg" >
                 <div class="reaction-num">125</div>
            </div> 
            <div class="news-feed__comments">19 Comments</div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.jpg" alt="">
                <label for="create-comment">
                    <input type="text"  id="create-comment" placeholder="Comment as Omer?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/321/340/340" alt="">
            </div>

            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Mohamad Osama </div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="date">1h ago</div>
                </div>
            </div>

            <div class="news-feed__header__option">...</div>
        </header>
        
        <section class="news-feed__feed">
            <p class="news-feed__feed__text"><i class="ri-send-plane-2-fill"></i> sit amet consectetur adipisicing elit.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/233/340/340" width="100%" alt="">
        </section>
        
        <footer class="news-feed__footer">
            <div class="news-feed__reactions">
                
                 <img src="/assets/images/wow.svg">
                 <img src="/assets/images/like.svg" >
                 <img src="/assets/images/love.svg" >
                 <div class="reaction-num">125</div>
            </div> 
            <div class="news-feed__comments">19 Comments</div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.jpg" alt="">
                <label for="create-comment">
                    <input type="text"  id="create-comment" placeholder="Comment as Omer?">
                </label>
            </div>
        </div>
    </div>

    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/354/480/480" alt="">
            </div>

            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Call Of Happeness </div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privacy"><i class="ri-earth-line"></i></span>
                    <div class="date">1w ago</div>
                </div>
            </div>

            <div class="news-feed__header__option">...</div>
        </header>
        
        <section class="news-feed__feed">
            <p class="news-feed__feed__text"> Bad Memoreys Somtimes Hearts , But You Can Remove it ! <i class="ri-creative-commons-nc-fill"></i> </p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/354/480/480" width="100%" alt="">
        </section>
        
        <footer class="news-feed__footer">
            <div class="news-feed__reactions">
                
                 <img src="/assets/images/wow.svg">
                 <img src="/assets/images/like.svg" >
                 <img src="/assets/images/love.svg" >
                 <div class="reaction-num">125</div>
            </div> 
            <div class="news-feed__comments">19 Comments</div>
        </footer>

        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="/assets/images/user-image.jpg" alt="">
                <label for="create-comment">
                    <input type="text"  id="create-comment" placeholder="Comment as Omer?">
                </label>
            </div>
        </div>
    </div>









</div>

