<div class="wrapper">
    
    <div class="stories">
        <div class="story strory story-1">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Nour Homsi</div>
        </div>
        <div class="story strory story-2">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Tony Michlern</div>
        </div>
        <div class="story strory story-3">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Karim Benzima</div>
        </div>
        <div class="story strory story-4">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Maria Havana</div>
        </div>
        <div class="story strory story-5">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Thomas Mukar</div>
        </div>
        <div class="story strory story-6">
            <img src="/assets/images/user-image.jpg" alt="user image" >
            <div class="story__username">Mansour Salah</div>
        </div>
    </div>

</div>